<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Location Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-sans">
    <div
      class="container mx-auto my-10 px-6 py-8 bg-white rounded-lg shadow-md max-w-md"
    >
      <h1 class="text-3xl font-bold mb-6 text-center">Recommend Places</h1>
      <div class="flex flex-col space-y-4">
        <label for="locationName" class="font-bold">Location Name:</label>
        <input
          type="text"
          id="locationName"
          placeholder="Enter location name"
          class="w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
        />
        <button
          onclick="generateText()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Generate Text
        </button>
      </div>
      <div id="loader" class="loader mt-6"></div>
      <div id="response" class="mt-4 overflow-y-auto max-w-xs h-auto"></div>
    </div>
    <script>
      function generateText() {
        const locationName = document.getElementById("locationName").value;
        const loader = document.getElementById("loader");
        const responseDiv = document.getElementById("response");

        loader.style.display = "block"; // Show loader

        fetch(`http://127.0.0.1:5000/geminired?location_name=${locationName}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            responseDiv.innerHTML = removeAsterisks(data.generated_text);
          })
          .catch((error) => {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
            responseDiv.innerText = "Error occurred while generating text.";
          })
          .finally(() => {
            loader.style.display = "none"; // Hide loader when response is received
          });
      }
      function removeAsterisks(text) {
        return text.replace(/[**|]/g, ""); // Use a regular expression to replace all asterisks globally
      }
    </script>
  </body>
</html>
